pipeline/PL_API_GET_Users and posts_loop.json
{
	"name": "PL_API_GET_Users and posts_loop",
	"properties": {
		"activities": [
			{
				"name": "Users_load",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['id']"
								},
								"sink": {
									"name": "id",
									"type": "Int16"
								}
							},
							{
								"source": {
									"path": "$['name']"
								},
								"sink": {
									"name": "name",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['username']"
								},
								"sink": {
									"name": "username",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['email']"
								},
								"sink": {
									"name": "email",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['address']['street']"
								},
								"sink": {
									"name": "street",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['address']['suite']"
								},
								"sink": {
									"name": "suite",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['address']['city']"
								},
								"sink": {
									"name": "city",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['address']['zipcode']"
								},
								"sink": {
									"name": "zipcode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['address']['geo']['lat']"
								},
								"sink": {
									"name": "lat",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['address']['geo']['lng']"
								},
								"sink": {
									"name": "lng",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['phone']"
								},
								"sink": {
									"name": "phone",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['website']"
								},
								"sink": {
									"name": "website",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['company']['name']"
								},
								"sink": {
									"name": "company_name",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['company']['catchPhrase']"
								},
								"sink": {
									"name": "catchPhrase",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['company']['bs']"
								},
								"sink": {
									"name": "bs"
								}
							}
						],
						"mapComplexValuesToString": true
					}
				},
				"inputs": [
					{
						"referenceName": "Ds_Json_PlaceHolder_api",
						"type": "DatasetReference",
						"parameters": {
							"Relative_URL": "users"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_input_dwh",
						"type": "DatasetReference",
						"parameters": {
							"File_name_fusion": "Users_data.csv"
						}
					}
				]
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Users_load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_input_dwh",
						"type": "DatasetReference",
						"parameters": {
							"File_name_fusion": "Users_data.csv"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 5,
					"activities": [
						{
							"name": "Individual_user_post_data_load",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['userId']"
											},
											"sink": {
												"name": "userId",
												"type": "Int16"
											}
										},
										{
											"source": {
												"path": "$['id']"
											},
											"sink": {
												"name": "id"
											}
										},
										{
											"source": {
												"path": "$['title']"
											},
											"sink": {
												"name": "title"
											}
										},
										{
											"source": {
												"path": "$['body']"
											},
											"sink": {
												"name": "body"
											}
										}
									],
									"mapComplexValuesToString": true
								}
							},
							"inputs": [
								{
									"referenceName": "Ds_Json_PlaceHolder_api",
									"type": "DatasetReference",
									"parameters": {
										"Relative_URL": {
											"value": "@concat('posts?userId=',item().id)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_input_dwh",
									"type": "DatasetReference",
									"parameters": {
										"File_name_fusion": {
											"value": "@concat('posts/post_user_',item().id,'.csv')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "API_based_data_load"
		},
		"annotations": [],
		"lastPublishTime": "2026-02-03T18:50:26Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}