pipeline/sql_parameterization.json
{
	"name": "sql_parameterization",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select CURRENT_TIMESTAMP as wh_updated_date;\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_bd_dev_p",
						"type": "DatasetReference",
						"parameters": {
							"table_name": "aa"
						}
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from pre_stg_department_data\nwhere Location_id = 1700\nand wh_updated_date <= convert(datetimeoffset,'@{activity('Lookup1').output.firstRow.wh_updated_date}',127)\n\nunion\n\nselect * from Pre_stg_Department_data\nwhere location_id =1800\nand wh_updated_date <= convert(datetimeoffset,'@{activity('Lookup1').output.firstRow.wh_updated_date}',127);",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_bd_dev_p",
						"type": "DatasetReference",
						"parameters": {
							"table_name": "aaa"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_input_dwh",
						"type": "DatasetReference",
						"parameters": {
							"File_name_fusion": "sql_output"
						}
					}
				]
			}
		],
		"annotations": []
	}
}