pipeline/Token_geneartion_through_api.json
{
	"name": "Token_geneartion_through_api",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": "https://api.example.com/v1/auth",
					"body": {
						"client_id": "your_client_id",
						"client_secret": "your_client_secret",
						"grant_type": "client_credentials"
					}
				}
			},
			{
				"name": "Web2",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"headers": {
						"Authorization": "concat(Barrer,token variable)"
					},
					"url": {
						"value": "@activity('Web1').output",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2026-01-25T19:09:52Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}